body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#screen {
  width: 133vh;
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin: auto;
  text-align: center;
}

div.block {
  /*border: 1px solid #EFEFEF;*/
  background: white;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}


div.image {
  position: absolute;
  left: 1vh;
  right: 1vh;
  bottom: 1vh;
  top: 1vh;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
